<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<p th:inline="text">[[${resume.firstname}]] [[${resume.lastname}]].<br />
    [[${resume.email}]].<br />
    Education.<br />
    [[${resume.education}]].<br />
    [[${resume.education2}]].<br />
    [[${resume.education3}]].<br />
    Experiance<br />
    [[${resume.experiance}]]<br />
    [[${resume.experiance2}]]<br />
    [[${resume.experiance3}]]<br />
    Rating.<br />
    [[${resume.skills}]]<br />
    [[${resume.skills2}]]<br />
    [[${resume.skills3}]]<br />


</p>
</body>
</html>