<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/resumeform}"
      th:object="${resume}" method="post">
    First Name :<input type="text" th:field="*{firstname}" /><br />
    <span th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}"></span><br />

    Last Name: <input type="text" th:field="*{lastname}" /><br />

    Email: <input type="text" th:field="*{email}" /><br />

    Education: <textArea rows="3" th:field="*{education}" /><br />
    <span th:if="${#fields.hasErrors('education')}"
          th:errors="*{education}"></span><br />
    Experiance: <textArea rows="3" th:field="*{experiance}" /><br />
    <span th:if="${#fields.hasErrors('experiance')}"
          th:errors="*{experiance}"></span><br />
    Rating: <textArea rows="3" th:field="*{skills}" /><br />
    <span th:if="${#fields.hasErrors('skills')}"
          th:errors="*{skills}"></span><br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>