<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<form action="#"
      th:action="@{/resumeform}"
      th:object="${resume}" method="post">
    First Name :<input type="text" th:field="*{firstname}" /><br />
    <span th:if="${#fields.hasErrors('firstname')}"
          th:errors="*{firstname}"></span><br />

    Last Name: <input type="text" th:field="*{lastname}" /><br />
    <span th:if="${#fields.hasErrors('lastname')}"
          th:errors="*{lastname}"></span><br />
    Email: <input type="text" th:field="*{email}" /><br />
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}"></span><br />
    Education: <br />
Education Level: <input type="text" th:field="*{educationLevel}" /><br />
  Major:  <input type="text" th:field="*{major}" /><br />
   UniversityName: <input type="text" th:field="*{universityName}" /><br />

   Graduation Year: <input type="text" th:field="*{graduatedYear}" /><br />

    Experiance: <br />
    Position:  <input type="text" th:field="*{position}" /><br />
    CompanyName:<input type="text" th:field="*{companyName}" /><br />
    StartingDate:<input type="text" th:field="*{startingDate}" /><br />
    EndingDate: <input type="text" th:field="*{endingDate}" /><br />
    Duties:<input type="text" th:field="*{duties}" /><br />
Skill's Name:<input type="text" th:field="*{skillsName}" /><br />
    Skill's Rating:<input type="text" th:field="*{rating}" /><br />

    <input type="submit" value="Submit" />
</form>
</body>
</html>