<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<p th:inline="text">[[${resume.firstname}]] [[${resume.lastname}]].<br />
    [[${resume.email}]].<br />
    Education.<br />
    [[${resume.educationLevel}]] in [[${resume.major}]] <br />
    [[${resume.universityName}]],[[${resume.graduatedYear}]] <br />

    Experiance<br />
    [[${resume.position}]]<br />
    [[${resume.companyName}]], [[${resume.startingDate}]]-[[${resume.endingDate}]]<br />
    Duties:[[${resume.duties}]]<br />

    Skills<br />
    [[${resume.skillsName}]], [[${resume.rating}]]<br />
</p>
</body>
</html>